.landing {
    height: 100vh;
}

.landing .title {
    width: 100%;
}


.arrow {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background: lime;
    font-size: 3em;
    text-align: center;
    opacity: .4;
}

.arrow:hover {
    opacity: 1;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.homePageWrapper {
  
}


